<!--Christoffer Frisk-->
<Configuration status="debug">
    <Properties>
        <Property name="layout">[%X{user}] %d [%t] %highlight{%5level} %logger - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>

        <File name="LogFile"
              fileName="logs/app.log"
              append="true"
              createOnDemand="true">
            <PatternLayout pattern="${layout}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="WARN"
                              onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="ErrorFile"
              fileName="logs/error.log"
              append="true"
              createOnDemand="true">
            <PatternLayout pattern="${layout}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="BookingFile"
              fileName="logs/booking.log"
              append="true"
              createOnDemand="true">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>

        <Logger name="BookingLogger" level="info" additivity="false">
            <AppenderRef ref="BookingFile"/>
        </Logger>
    </Loggers>
</Configuration>